/* Global styling */
* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	line-height: 1.3;
}
a {
	text-decoration: none;
	color: #2c3e50;
}
.page-divider {
	width: 80%;
	margin-top: 20%;
	margin-bottom: 10%;
	border: 1px solid rgba(243, 156, 18, 0.7);
}

.title-border {
	width: 40px;
	margin-top: -10px;
	margin-bottom: 1.5rem;
	margin-left: 0;
	border: 4px solid #724428;
}
/* Modal styling */
/* Background popup */
.modal {
	display: none;
	position: fixed;
	z-index: 1; /* Displays the modal on top of everything */
	width: 100%;
	height: 110%;
	left: 0;
	padding-top: 100px;
	right: 0;
	overflow: auto;
	background-color: rgb(0, 0, 0, 0.6);
}
/* Modal content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 90%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
}

/* Close modal button */
.close {
	float: right;
	font-size: 30px;
	margin-top: 15px;
	margin-right: 10px;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
/* Submit button */
.submit {
	padding: 9px 0;
	width: 25%;
	margin: 2px 0 10px 16px;
	border: none;
	background-color: #c0392b;
	color: white;
	border-radius: 5px;
}

/* Form header */
.modal-header {
	padding: 1px 16px;
	width: 100%;
	color: white;
	background-color: #c0392b;
}

.modal-form {
	padding: 2px 16px;
	width: 80%;
	margin: 1rem auto 1rem auto;
}
.input-container input {
	margin-bottom: 10px;
	display: inline-block;
}
/* Form styling */
.modal-form input {
	padding: 0.5rem;
	margin-right: 30px;
	width: 100%;
	border: 1px solid #bdc3c7;
}
.modal-form select {
	padding: 0.5rem;
	margin-right: 30px;
	width: 100%;
	border: 1px solid #bdc3c7;
}

.modal-form input:focus {
	border: 2px solid #e67e22;
	padding: 0.5rem 1.2rem;
}

.modal-form label {
	margin-right: 1rem;
	font-weight: 500;
}

/* Navigation styling */
#myTopNav {
	margin-top: -16px;
}

.nav {
	overflow: hidden;
	background-color: #73584b;
}

.nav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 1rem 1.5rem;
	text-decoration: none;
	font-size: 1.3rem;
}

.nav a:hover {
	background-color: #ddd;
	color: black;
}

.nav a.current {
	background-color: #c59775;
	color: white;
}

.nav .icon {
	display: none;
}

/* Header page styling */

.header-container {
	background-image: url("../assets/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg");
	height: 100%;
	background-color: #cccccc;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 2rem 0;
}

.section1-text {
	color: #2c3e50;
	/* position: relative; */
	text-align: left;
	margin: auto;
	width: 80%;
	background-color: rgba(236, 240, 241, 0.9);
	padding: 1rem;
	border-radius: 5%;
	border: 5px solid #724428;
	/* border: 5px solid black; */
}
.header {
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
}

.header-text {
	font-size: 1.1rem;
	margin-top: 0.5rem;
}

.headerButton {
	padding: 0.7rem 1rem;
	margin-top: 10px;
	width: 100%;
	border: none;
	background-color: #c0392b;
	border-radius: 25px;
}

.headerButton > a {
	font-weight: 400;
	text-transform: uppercase;
	color: white;
}

/* Main content Styles */
.content-container {
	text-align: left;
	padding: 1rem 1rem 0 1rem;
	margin-bottom: 5%;
}

.content2 {
	display: flex;
	width: 90%;
	margin: auto;
}

.content-headers {
	font-size: 1.2rem;
	text-transform: uppercase;
}

.display-image {
	width: 100%;
	box-shadow: 5px 10px 18px #888888;
}

.findButton {
	margin-top: 1rem;
	padding: 0.8rem 0 0.8rem;
	width: 60%;
	border: 2px solid #d35400;
	border-radius: 25px;
}

/* Section3 Styles */

/* Interactive call to action section */
#fullwidth-container {
	background-color: #c0392b;
	margin-top: 50px;
	padding: 0 0 1rem 0;
	/* padding: 1rem; */
	/* height: 770px; */
	/* width: 100%; */
}
#interactive-bar {
	display: flex;
	margin: auto;
	justify-content: center;
}

#interactive-bar button {
	display: block;
	/* margin-top: 1rem; */
	margin: 0;
	background-color: #c0392b;
	padding: 1.5rem 1rem 0.5rem 1rem;
	color: #e67e22;
	font-size: 1rem;
	background-color: none;
	border: none;
	border-bottom: 4px solid #e67e22;
	transition: all 0.7s ease-in-out;
	/* animation-name: animateToggle;
	animation-duration: 1s; */
	/* padding: 1rem 1rem 0 1rem; */
}

#interactive-bar button.active,
#interactive-bar button:hover {
	border-bottom: 4px solid white;
	font-weight: 600;
	color: white;
}

#fullwidth-container div:not(:first-child) {
	color: white;
	/* font-weight: lighter; */
	text-align: left;
	width: 90%;
	margin: 25px auto;
	display: none;
}
#fullwidth-container div:not(:first-child) p {
	font-weight: lighter;
}

/* .toggle-div input:focus {
	border: 2px solid #f1c40f;
	padding: 1.5rem;
} */
#fullwidth-container div input {
	width: 100%;
	margin-top: 5px;
	padding: 0.8rem;
	border-radius: 3px;
	border: none;
	background-color: #f39c12;
	margin-bottom: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#fullwidth-container div input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}
#fullwidth-container div input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: white;
}
#fullwidth-container div input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: white;
}
/* #fullwidth-container div:nth-child(2) input:focus {
	padding: 0.8rem 1.5rem;
} */
#fullwidth-container div > .toggle-donation {
	display: flex;
	justify-content: space-between;
}

#fullwidth-container div > #toggle-interests {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#fullwidth-container div > #toggle-interests button {
	background-color: white;
	padding: 0.8rem 0.5rem;
	border-radius: 10px;
	border: none;
	margin-bottom: 1rem;
	color: #c0392b;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#fullwidth-container div > #toggle-interests button:first-child {
	color: white;
	padding: 0.8rem 0.5rem;
	border-radius: 10px;
	border: none;
	margin-bottom: 1rem;
	background-color: #f39c12;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#toggle-interests img {
	display: block;
	width: 75px;
	height: 75px;
	background: none;
	margin-top: 15px;
}
.confirm {
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;
	background: #d35400;
	border: none;
	border-radius: 25px;
	/* text-transform: uppercase; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#fullwidth-container div > .toggle-donation button {
	border-radius: 100%;
	background-color: #d35400;
	border: none;
	width: 55px;
	height: 55px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#fullwidth-container div > .toggle-donation button:nth-child(n + 5) {
	display: none;
}

#fullwidth-container div:nth-child(2) > .toggle-donation button:hover {
	background-color: #2ecc71;
}
#fullwidth-container
	div:nth-child(2)
	> .toggle-donation
	button.active-donation {
	background-color: #2ecc71;
	box-shadow: none;
}

#donate-btn {
	width: 100%;
	margin-top: 1rem;
	padding: 1rem;
	background: #d35400;
	border: none;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Styling the community cards container */

#fullwidth-container div.activated {
	display: block;
}

.full-image {
	width: 100%;
	margin-top: 2rem;
	/* margin-left: -15px; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.toggle-rule {
	width: 100%;
	color: grey;
	margin-bottom: 30px;
}

/* Footer styles */
.footer {
	width: 100%;
	/* height: 200px; */
	padding: 0.5rem 2rem 1.5rem 2rem;
	background-color: #73584b;
	text-align: center;
	color: white;
}

.footer > div:nth-child(2) {
	display: flex;
	justify-content: space-around;
	margin-bottom: 2.5rem;
}

.footer > div:nth-child(4) input {
	padding: 0.5rem;
	width: 70%;
	height: 50px;
	margin-right: 10px;
	border-radius: 3px;
	border: none;
	background-color: #c59775;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer > div:nth-child(4) input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}
.footer > div:nth-child(4) input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: white;
}
.footer > div:nth-child(4) input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: white;
}
.footer > div:nth-child(4) button {
	padding: 0.5rem;
	height: 50px;
	background: #c59775;
	border: none;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer > h4 {
	font-weight: lighter;
	display: block;
}

.media-icon {
	color: white;
	font-size: 30px;
}

/* Responsive design */
/* Tablet screens and below */
@media screen and (max-width: 768px) {
	/* Responsive navigation */
	div.content2 {
		flex-wrap: wrap;
	}
	.nav a:not(:first-child) {
		display: none;
	}
	.nav a.icon {
		float: right;
		display: block;
	}
	.nav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.nav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.nav.responsive a:nth-child(2) {
		margin-top: -14px;
	}
}

/* Tablet screens and larger */
@media screen and (min-width: 768px) {
	/* Layout */
	/* Navigation */
	.nav a {
		font-size: 1.2rem;
		padding: 1.3rem 2rem;
		font-weight: lighter;
	}
	/* Header page */
	.section1-text {
		padding: 1.5rem;
		width: 50%;
		margin-left: 25%;
		margin-right: auto;
	}
	.header {
		font-size: 1.5rem;
		font-weight: 900;
	}
	.header-text {
		font-size: 1.3rem;
		font-weight: lighter;
	}
	.headerButton {
		width: 30%;
		padding: 1rem 0;
		float: right;
	}
	/* Content page */
	body > section.content-container:nth-child(even) > .content2 {
		flex-direction: row-reverse;
	}
	body
		> section.content-container:nth-child(even)
		> .content2
		> .section2-text {
		margin-left: 5%;
		margin-right: 0;
	}
	.content2 {
		width: 95%;
	}
	.display-image {
		width: 50%;
	}
	.section2-text {
		margin-right: 5%;
	}
	.content-headers {
		font-size: 1.5rem;
	}
	.content-text {
		font-size: 1.3rem;
	}
	.page-divider {
		display: none;
	}
	.content-container {
		text-align: left;
	}
	/* Toggle Container Stylings */
	/* Interactive bar */
	#interactive-bar button {
		font-size: 1.2rem;
		padding: 2rem 1.5rem 1rem 1.5rem;
	}
	.toggle-div > p {
		font-size: 1.3rem;
	}
	#fullwidth-container div > .toggle-donation {
		width: 70%;
	}
	#fullwidth-container div > .toggle-donation button {
		font-size: 1.2rem;
		width: 70px;
		height: 70px;
	}
	#fullwidth-container div > .toggle-donation button:nth-child(n + 5) {
		display: block;
	}
	#fullwidth-container div input {
		width: 50%;
		margin-right: 2rem;
		margin-left: 15%;
		padding: 1rem;
	}
	#donate-btn {
		width: 10%;
		margin: 0;
		border-radius: 10px;
	}
	.confirm {
		width: 20%;
		border-radius: 10px;
		/* float: right; */
		margin-top: 0;
	}

	.section2-text > ul > li {
		font-size: 1.2rem;
	}

	/* Footer styling at large breakpoints */
	.footer > div:nth-child(2) {
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.footer > div:nth-child(4) input {
		width: 35%;
		margin-right: 1rem;
	}
	.footer > div:nth-child(4) button {
		padding: 0.5rem;
		height: 45px;
	}
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
/* Add Animation and keyframing */
/* Modal animation */
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

/* @keyframes animateToggle {
	0% {
		width: 0%;
		opacity: 0;
	}
	100% {
		width: 100%;
		opacity: 1;
	}
}  */
